@font-face {
	font-family: gilroy-bolditalic;
	src: url('/fonts/gilroy-bolditalic.ttf');
}
@font-face {
	font-family: gilroy-regular;
	src: url('/fonts/gilroy-regular.ttf');
}
body {
  font-size: gilroy-regular;
} 